*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1;
}
ul {
    list-style: none outside;
}
.wrap{
    max-width: 750px;
    background-color: #F73177;
    font-size: 36px;
}
.w750{
    width: 750px;
    height: 750px;
    background-color: #0090EC;
    margin-top: 30px;
    padding-top: 30px;
}

.page{
    width: 685px;
    margin: 0 auto;
}
img{width: 100%;border: 0;display:block;}
.list{
    width: 720px;
    margin: 0 auto;
}
.list li{
    display: block;
    width: 50%;
    
    box-sizing: border-box;
    
    padding: 5px;
    float: left;
}
.list li div{
    background-color: #fff;
    height: 250px;
}